@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&family=Poppins:wght@300&display=swap");
html {
  font-family: "Open Sans", sans-serif;
}
body {
  background: #fff;
}
.headingText {
  text-align: center;
  color: black;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

.button-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;
}
.excuse-for {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  font-size: 1.5rem;
}
.excuse-data {
  display: flex;
  justify-content: center;
}
.excuse {
  width: inherit;
  font-size: 1.1rem;
  border: 1px solid violet;
  padding: 3rem;
}

/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .button-container {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
    gap: 15px;
  }
}
